* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .cross{
    /* border: 1px solid red;
    overflow: hidden;
    background: #ddd;
    border-top-left-radius: 10px; */
/* overflow:hidden ; */
/* border-radius: 15px */
/* } */

  table tbody{
    background-color: #f7f7f7;
    box-shadow: 0 0 0 2px #ececec;
    border-radius: 10px;
   
  }