.header {
  margin: 10px;
  padding-left: 30px;
}
.cont {
  display: flex;
}
.icons {
  display: flex;
  margin-left: auto;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #f9f9f9;
}
.form-control::-webkit-input-placeholder,
.form-control {
  color: #babec3;
  background-color: #f9fafc;
}

.card {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 95%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}
.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.col-md-12 {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-bottom: 50px;
}
.button {
  margin-top: 45px;
  width: 180px;
  height: 40px;
  background-color: #09b2f0;
  color: white;
  text-decoration: none;
  border: none;
  padding: 4px;
  border-radius: 8px;
}
label {
  text-align: start;
}
