.caseBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p{
    margin: 0;
}

.outerCaseBox{
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 0.5rem 1rem 2rem 1rem;
    background-color: #fff;
    margin:2rem;
}