.dropbtn {
    background-color: #fff;
    color: black;
    padding: 16px;
    padding-top: 0px;
    font-size: 16px;
    border: none;
    margin-bottom: 0px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
.a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
  
  .dropdown-content a:hover {background-color: #ddd; text-decoration: none;color:black; }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #fff;}