.header{
    /* background-color: red; */
    padding: 1.5rem;
    /* border-bottom: 1px solid #e2e2e3; */
}
.header-logo{
    height: 50px;
    width: auto;
}

  .CircularProgressbar-trail {
    stroke: gray; 
  }
  
  .CircularProgressbar-path {
    stroke:#09b2f0; 
    /* margin-bottom: 3rem; */
  }
  /* Running cases */
  .mainContainer{
    background-color: #f1efef;

}
.header{
    display: flex;
    justify-content: space-between;
    /* margin: 15px; */
    padding-top: 15px;

}
.headerText{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.subContainer{
    /* margin: 10px;
    margin-left: 30px; */
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}
.subHeader{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
.subHeaderText{
    font-size: 24px;
    /* font-weight: bold; */
    font-weight: 700;
color:#858585;
   }
.icons{
    padding: 10px;
}
.btn{
    border-radius: 20px;
    
}
.tr{
    background-color:rgb(238, 235, 235) ;
    border: 1px solid;
    border-color: rgb(245, 245, 245);
    font-size: 14px;
}
.table-heading{
    color:#858585;
}
.tr .td{
    font-size: 14px !important;
}
.td{
    border-bottom-width: "0px";
    color:#858585;
    /* padding: 2.5rem .5rem; */
}
.table{
    border-spacing: 15px;
    padding: 1.5rem .5rem;
}
.tbody, td, tfoot, th, thead, tr {
     border-style: none;

}
.table>:not(caption)>*>* {
    padding: 1.5rem .5rem !important;
}
.search{
    display:flex;
}